<!-- Goals -->
<template id="tpl_lsGoal">
	<span class="icon-flag3"></span> _%goal%_
</template>
<!-- //Goals -->

<!-- Live Visit -->
<template id="tpl_lsLiveVisit">

	<button class="pure-button small" style="margin: 0px 0px 1px 0px; word-wrap: break-word; _%bStyle%_" id="ls_visitItemDetButtons__%idVisit%_" onClick="Ls.visualVisitDetsView('_%idVisit%_')" title="_%visitTime%_ | _%pageName%_" onMouseOver="Ls.visualVisitTitleSet('_%idVisit%_')">
		<span style="_%tStyle%_">
			_%visitTime%_ _%goalFlag%_
		</span>
	</button>
	<span id="ls_visitItemDets__%idVisit%_" class="lestatz_visitDetails" style="display: none; width: 100%">
		<div style="word-wrap: break-word;" id="ls_visitItemTitle__%idVisit%_">
		_%goalFlag%_ (_%visitTime%_) _%pageName%_
		</div>
		<hr class="separate" />
		<a href="_%url%__%args%_" target="_blank">
			_%url%_  _%args%_
		</a>
		<hr class="separate" />
		<table>
			<tr>
				<td width="25%">
					<span class="icon-clock2"></span>
				</td>
				<td class="lestatz_visitDetsInfo">
					_%dateTime%_
				</td>
			</tr>
			<tr>
				<td colspan="2">

				</td>
			</tr>

			<tr>
				<td>
					{ls_ref}: <span class="icon-link"></span>
				</td>
				<td class="lestatz_visitDetsInfo">
					_%ref%_
				</td>
			</tr>

			<tr>
				<td>
					{ls_goal}: <span class="icon-flag"></span>
				</td>
				<td class="lestatz_visitDetsInfo">
					_%goal%_
				</td>
			</tr>

			<tr>
				<td>
					{ls_visitor}: <span class="icon-user"></span>
				</td>
				<td class="lestatz_visitDetsInfo">
					_%visitorCode%_
				</td>
			</tr>

			<tr>
				<td>
					{ls_pageLang}:
				</td>
				<td class="lestatz_visitDetsInfo">
					_%pageLang%_
				</td>
			</tr>

			<tr>
				<td>
					{ls_browserLang}:
				</td>
				<td class="lestatz_visitDetsInfo">
					_%browserLang%_
				</td>
			</tr>

			<tr>
				<td>
					{ls_browser}:
				</td>
				<td class="lestatz_visitDetsInfo">
					_%browser%_ (_%browserVersion%_)
				</td>
			</tr>

			<tr>
				<td>
					{ls_os}:
				</td>
				<td class="lestatz_visitDetsInfo">
					_%os%_
				</td>
			</tr>

			<tr>
				<td>
					{ls_location}: <span class="icon-earth"></span>
				</td>
				<td class="lestatz_visitDetsInfo">
					_%country%_ / _%region%_ / _%city%_
				</td>
			</tr>

			<tr>
				<td>
					{ls_ip}:
				</td>
				<td class="lestatz_visitDetsInfo">
					_%ip%_
				</td>
			</tr>

			<tr>
				<td>
					{ls_postalCode}:
				</td>
				<td class="lestatz_visitDetsInfo">
					_%post%_
				</td>
			</tr>

			<tr>
				<td>
					{ls_coordinates}:
				</td>
				<td class="lestatz_visitDetsInfo">
					<a href="https://www.google.com/maps/place/_%coordinates%_" target="_blank">_%coordinates%_</a>
				</td>
			</tr>
		</table>

	</span>
</template>
<!-- //Live Visit -->


