:root {
	--main-color: #6ca3b9;
	--bg: #fff;
	--bgSpaces: #fff;
	--info: #f0f087; /* Yellow */
	--primary: #30bd53; /* Green */
	--success: #8484f4; /* Purple */
	--warning: #ea4c4c; /* Redish */
}

html{
	font: 1rem;
	margin: 0px;
}

body{
	margin: 0px;
	color: #000;
	overflow-wrap: break-word;
	background: var(--bg);
}

h1, h2, h3, h4, h5{
	color: var(--main-color);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h1 a:active,
h2 a:active,
h3 a:active,
h4 a:active,
h5 a:active,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover{
	color: var(--main-color);
}

a,
a:active,
a:hover,
a:visited {
	color: #000;
}

hr.separate{
	border-top: 1px solid var(--main-color);
	border-bottom: 0px;
}

#footer{
	background: #3f3f3f;
	color: white;
	padding: 10px 0px 25px 15px;
	margin-top: 25px;
	font-size: 0.8rem;
}

#footer a, a:visited{
	color: white;
}

#body{
	padding: 0px 15px 0px 15px;
}

.info{
	background: var(--info);
	color: #575252;
}
.primary{
	background: var(--primary);
	color: #fff;
}

.success{
	background: var(--success);
	color: #fff;
}

.warning{
	background: var(--warning);
	color: #fff;
}

.full{
	width: 100%;
}

/** Responsive stuff. */
.img-responsive{
	width: 100%;
	height: auto;
}

/** Forms */
.cala_form_field_required{
	border: 10px solid blue;
}

.cala_form_section{
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	padding: 5px;
	margin-bottom: 10px;
}

.fieldHelp{
	font-size: 0.9em;
	color: blue;
}

textarea{
	width: 80%;
}

.cala_form_err{
	border: 1px solid red;
	background: red;
	color: #fff;
}

.k_bigButton{
	padding: 20px;
	font-size: 1.5rem;
	display: block;
}

.manager_bigButton{
	padding: 20px;
	font-size: 1.5rem;
	display: block;
}

/* Pure */
.pure-g > div {
	box-sizing: border-box;
}

.l_box {
	padding: 1px 1em 0em 1em;
}

/* Tema */
#navbar{
	height: 50px;
	padding: 0px;
	background: var(--main-color);
	position: revert;
	z-index: revert;
	margin-bottom: 3px;
}

/* eml */
.eml_sectionTitle{
	border-bottom: 1px solid var(--main-color);
}

.eml_topLocation{
	margin-left: 5px;
	text-align: left;
}

.eml_topMenuUser{
	margin-right: 5px;
	text-align: right;
}

.eml_areas,
.eml_contact,
.eml_description,
.eml_location,
.eml_category,
.eml_video{
	background: var(--bgSpaces);
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
}

.eml_contact{

}

.eml_description{

}

.eml_location{

}

.eml_video{
	display: none;
}

.eml_videoUrl{
	padding: 10px;
}

.eml_formTitle{
	font-weight: bold;
	margin-top: 10px;
}

.cala_form_section{
	background: var(--bgSpaces);
	border-radius: 3px;
}

@media screen and (max-width: 700px) {

	#body{
		padding: 1px;
	}

	.l_box {
		padding: 0;
	}

	.eml_topMenuUser{
		text-align: center;
		margin-right: revert;
	}

	.eml_topLocation{
		margin-left: revert;
		text-align: center;
	}

}

#holder_lsVisitLog{
	height: 500px;
	overflow: auto;
}

#ls_visitsLogsContainer {
	background: white;
	height: 100%;
	width: 100%;
	position: relative;
	background: white;
	position: relative;
}

#overlay_ls_visitDetailsContainer {
	background: white;
	height: 100%;
	width: 0%;
	position: absolute; /* Stay in place */
	z-index: 11; /* Sit on top */
	left: 0;
	top: 0;
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

#overlay_ls_visitLogCloseBar{
	background: #e5e5e5;
	height: 45px;
}

